* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
    color: #999;
}

.mod-game {
    margin: 10px auto;
}

.mod-game .canvas {
    display: block;
    background: #000;
}

.mod-game .info {
    margin-bottom: 5px;
    padding: 10px 0;
}

.mod-game .info p {
    line-height: 20px;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.mod-game .intro {
    padding: 10px 15px;
    background: #f8f8f8;
    border-radius: 5px;
}

.mod-game .intro p {
    line-height: 22px;
    color: #666;
    font-size: 14px;
    text-indent: 2em;
}

.mod-button {
    margin: 0 auto;
    height: 32px;
    padding: 15px 0;
    text-align: center;
}

.mod-button span,
.mod-button a {
    vertical-align: middle;
}

.mod-button btn {
    display: inline-block;
    padding: 0 12px;
    line-height: 26px;
    color: #24292f;
    border: 1px solid #dddede;
    text-decoration: none;
    font-size: 13px;
    border-radius: 2px;
}