body {
    background: #607d8b!important;
}

.ddd {
    position: fixed;
    width: 210px;
    height: 210px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    background: #fff;
    padding: 20px;
}

#ccb {
    animation: roll 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

#cca {
    animation: roll 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

#cce {
    animation: roll 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

@keyframes roll {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

canvas {
    position: absolute;
    top: 20px;
    left: 20px;
}